#canvas {
    background-color: #cecece;
    border: 10px black solid;
}

.canvas {
    margin: 10% auto;
    text-align: center;
}

.menu {
    margin: 10% auto;
    text-align: center;
}

.settings {
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.score {
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    border-spacing: 15px;
    /* add 25px of space between table rows */
}

body {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

body {
    overflow: hidden;
}
